@model UI.ViewModels.PostEditVM
@{
    ViewBag.Title = "CreatePost";
}

@Html.Partial("InnerMenu", Model.autorization)
<div class="row" style="margin-top:30px">
    <div class="col-sm-6 col-xs-12">
        <div class="card text-center" style="padding:10px;width:100%!important;cursor:pointer">
            <div class="container text-left">
                <h4>Criar postagem</h4>

                <form method="post" action="@Url.Content("~/CMS/CreatePost")">
                    <label>Nome</label>
                    <input required class="form-control" type="text" name="nome" />
                    <label>Sub-titulo</label>
                    <input required class="form-control" type="text" name="subtitulo" />
                    <label>Descrição</label>
                    <input required class="form-control" type="text" name="descricao" />
                    <!--<label>Observação</label>-->
                    <input class="form-control" type="hidden" name="observacao" value="CRIADO PELO PORTAL" />
                    <input class="form-control" type="hidden" name="userID" value="@Model.autorization.user.ID" />
                    <input class="btn btn-primary" style="margin-top:10px;margin-bottom:10px" type="submit" value="Próxima Etapa" />
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Base", Model.autorization)
